.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-area {
  position: fixed;
  width: 200px;
  height: auto;
  bottom: 0;
  right: 0;
}

#input {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}
